* text=auto eol=lf

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore

*.php text diff=php
*.js text
*.ts text
*.vue text
*.json text
*.md text
*.yml text
*.yaml text
*.env.example text
*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
